backtrader
matplotlib
pandas
bokeh
git+ssh://git@github.com/yomolify/bt-ccxt-store.git
git+ssh://git@github.com/yomolify/btplotting.git
git+https://github.com/ab-trader/backtrader_addons.git
backtrader_plotting
termcolor
config
requests
numpy
pymarketstore
ta-lib
statsmodels
pytz
scipy
pymemcache
ccxt
redis
aioredis
msgpack-python